header{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

header img{
    width: 150px;
}

header h1{
    margin-right: 50px;
}

header a{
    margin-top: 30px;
}

body {
    background-image: url(../image/background.jpg);
    background-size: cover;
}

div.graphique{
    width: 45%; 
    margin: auto;
    background-color: white;
}

article h1{
    color: white;
    text-align: center;
}

div.boutons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

div.boutons h3{
    color: white;

}

div.petites_infra{
    background-color: red;
}

div.pt_relais{
    background-color: green;
}

div.passages{
    background-color: blue;
}

section{
    display: flex;
}

select{                     
    width: 350px;
    height: 45px;
    padding: 10px;
    margin: 10px;
    margin-left: 100px;
    border-radius: 10px;
    margin-bottom: 80px;
    margin-top: 100px;
    border: 2px solid #1f693e;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    color: #2c3e50;
    outline: none;
    transition: 0.3s;
}

.liste_pays{
    width: 300px;
    text-align: center;
}

div.info{
    padding: 20px;
    background-color: #34495e71;
    border-radius: 10px;
    margin-top: 35px;
    height: 400px;
    width: 400px;
    margin-left: 15px;
}