header{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

header img{
    width: 150px;
}

header h1{
    margin-right: 50px;
}

header a{
    margin-top: 30px;
}

body {
    background-image: url(../image/background.jpg);
    background-size: cover;
}

div.graphique{
    width: 45%; 
    margin: auto;
    background-color: white;
}

article h1{
    color: white;
    text-align: center;
}

div.boutons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

div.petites_infra{
    background-color: red;
}

div.pt_relais{
    background-color: green;
}

div.passages{
    background-color: blue;
}